$colorBlue: #3264b4;


circle.default {
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

circle.circulate {
	transition: all 0.2s ease-in-out;
}

circle.lowlight {
	opacity: 0.5;
}

text.inCircle {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	text-anchor: middle;
	alignment-baseline: central;
	pointer-events: none;
	font-size: 2em;
}

svg {
	height: 100%;
	width: 100%;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
